html {
    min-height: 400px;
    min-width: 600px;
    overflow: hidden;
    background: darkseagreen;
}
label {
    display: inline-block;
    text-align: right;
}
#timerLengthHoursLabel {
    width: 50px;
    line-height: 48px;
    margin-bottom: 10px;
}
#timerLengthHoursInput {
    position: absolute;
    right: 485px;
    bottom: 300px;
}
#timerLengthMinutesInput {
    position: absolute;
    right: 250px;
    bottom: 300px;
}
#timerLengthMinutesLabel {
    line-height: 48px;
    margin-bottom: 10px;
    width: 225px;
}
#timerLengthSecondsInput {
    position: absolute;
    right: 25px;
    bottom: 300px;
}
#timerLengthSecondsLabel {
    line-height: 48px;
    margin-bottom: 10px;
    width: 225px;
}
#invalidInputError {
    color: red;
    position: absolute;
    right: 250px;
    bottom: 315px;
    display: none;
}
#timerLengthRemainingGUI {
    color: darkmagenta;
    position: absolute;
    right: 185px;
    bottom: 160px;
    display: block;
}
#startTimer {
    background-color: greenyellow;
    position: absolute;
    bottom: 150px;
    right: 250px;
    display: block;
}
#stopTimer {
    color: #2C0644;
    background-color: red;
    position: absolute;
    bottom: 100px;
    right: 250px;
    display: block;
}
#timerIMG1{
    position: absolute;
    display: block;
}
#timerIMG2{
    position: absolute;
    display: block;
}